<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PutioManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <PutioManager.Properties.Settings>
            <setting name="OAuthToken" serializeAs="String">
                <value>FOPNX6XARNZF5HUGYIZY</value>
            </setting>
            <setting name="DownloadDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowToolTips" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ParallelDownloads" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DeleteAfterDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStartApplication" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoDownloadInterval" serializeAs="String">
                <value>60</value>
            </setting>
        </PutioManager.Properties.Settings>
    </userSettings>
</configuration>